<div class="container-fluid">
    <div class="card">
       <div class="content">
        <div class="logo p-2"> <img src="assets/images/pizzahutLogo-ar.png" alt=""></div>
        <div class="name-res p-2">مطعم بروستا</div>
        <div class="description">descriptiondescriptiondescription</div>
        <div class="evaluation"> evaluation  evaluation   evaluation        </div>
       </div>
       <div class="img" >
           <img src="assets/images/pizzahutLogo-ar.png" alt="">
       </div>
    </div>



    <div class="manu">
        <p> Menu List </p>
        <app-manu></app-manu>
      </div>
      <div class="manu">
        <p> Offers </p>
        <app-offer [offer]="offers"></app-offer>
      </div>
      
</div>

