
<div class="container-fluid">
  <app-navbar [branchTypesData]="branchTypesData" (restaurantsById)=" getAllRestaurantById($event)"></app-navbar>
</div>


<div class="row m-0 p-0">
    <div class="card rounded shadow-sm border-0 ">
  
      <div class="row m-0 p-0 justify-content-center">
  
        <div class="card-body col col-sm-12  col-md-6 col-xl-4" *ngFor="let index of restaurants">
          <div class="">
            <img src="{{index.logo}}" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a  (click)="setRestaurantID(index)"  [routerLink]="['restaurants', 'details']" class="text-dark">{{index.name}}</a></h5>
            <p class="small text-muted font-italic">{{index.description}}</p>
            <div class="footer-card">
              <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
              </ul>
              <ul>
                <li>{{index.branch_type_name}}</li>
              </ul>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>
